@media screen and (max-width: 960px) {
  .logo a {
    font-size: 19px;
  }

  .top_nav_bar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav_button a {
    font-size: 10px;
  }

  .menu__links {
    width: 245px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .top_header,
  .banner_content {
    width: auto;
  }

  .top_header h2 {
    font-size: 24px;
  }

  .top_header h1,
  .banner_content h1 {
    font-size: 40px;
    word-wrap: break-word;
  }

  .dashboard,
  .dashboard_text,
  .article,
  .contacts {
    flex-direction: column;
    align-items: center;
  }

  .article {
    margin-left: 50px;
    margin-bottom: 70px;
    margin-top: 70px;
  }

  .article_item {
    width: 414px;
  }

  .article_item h2  {
    text-align: center;
    margin-bottom: 15px;
  }

  .article_button a {
    padding: 25px 140px;
  }

  .dashboard {
    margin-top: 70px;
  }

  .dashboard_item  {
    margin-bottom: 20px;
  }

  .footer_form {
    flex-direction: column;
    align-items: center;
  }

  .footer_form input[type=email] {
    margin-bottom: 25px;
    width: 344px;
  }

  .form_button a {
    padding: 6.5px 130px;
  }


}

@media screen and (max-width: 660px) {
  .logo a {
    font-weight: 400;
    font-size: 19px;
    letter-spacing: .04em;
    color: rgb(64,64,64);
  }

  .top_nav_bar {
    justify-content: space-between;
  }

  .logo a,
  .menu__icon {
    position: relative;
    top: -87px;
  }

  .menu__icon {
    display: inline-block;
  }

  .menu__links {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(64,64,64,.85);
    z-index: 1000;
    overflow: auto;
  }

  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }

  .nav_button {
    display: none;
  }

}
