@media screen and (max-width: 960px) {
  .top_nav_bar {
    width: auto;
    justify-content: space-between;
  }
  .menu {
    width: 245px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .top_header,
  .banner_content {
    width: 588px;
    word-wrap: break-word;
  }

  .dashboard,
  .dashboard_text,
  .article,
  .contacts {
    flex-direction: column;
    align-items: center;
  }
}
